body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.wrapper{
    width: 50vw;
    margin: 100px auto auto auto;
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    grid-template-rows: repeat(4,1fr);
    padding: 25px;
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}



.calc input{
    margin: 5px;
}

.calc input[type="submit"]{
    display: block;
}

.history{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}