img src="\img\what-the-fuck-are-you-doing-here-memeful-com-14184734.png" alt="What the fuck are you doing here?"
img src="\img\excuse-me-what-the-fuck-are-you-doing-here-penguin-meme.jpg" alt="What the fuck are you doing here?"
form action="unfuck" method="POST"
    Button Press this to unfuck yourself 